@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
:root{
    --cor1:#FCFCFA;                --fonte-padrão: Arial, Helvetica, sans-serif;
    --cor2: rgb(8, 42, 51);        --fonte1: ; 
    --cor3: #F3F3BA;               --fonte2: ;
    --cor4: #C1DCE9;               --fonte3: ;
    --cor5: #0B75B1;
    --cor6: #3F636D;
    --cor7: #EFE51B;                 ;

}
html{
    overflow-x: auto;
}
body, html{
    width: 100%;
    height: 100%;
   
}

main >section{
    padding:20px 10px 20px 10px;
    box-shadow: 2px 2px 5px white;

}

main section > h1,p,a,ol{
    padding-left: 30px;
}

 main section{
    
}

main > .sec4{
    margin-top: 10px;
}

main >.sec1,.sec3{
    background-color: var(--cor5);
    box-shadow: 2px 2px 5px var(--cor6);
}

.sec1 > h1{
    color: yellow;
}
.sec1 p{
    color: var(--cor1);
}

.sec3 > h1{
    color: yellow;
}
.sec3 p{
    color: var(--cor1);
}


.sec1 p, .sec2 p, .sec4 p{
    padding-top: 30px;
}










   
