@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
:root{
    --cor1:#FCFCFA;                --fonte-padrão: Arial, Helvetica, sans-serif;
    --cor2: rgb(8, 42, 51);        --fonte1: "Roboto", sans-serif; 
    --cor3: #F3F3BA;               --fonte2: "Roboto Slab", serif;
    --cor4: #C1DCE9;               --fonte3: "PT Sans", sans-serif;
    --cor5: #0B75B1;                font-family: "Domine", serif;
    --cor6: #3F636D;
    --cor7: #EFE51B;                 

}
html{
    overflow-x: auto;
}
body, html{
    width: 100%;
    height: 100%;
   
}

a{
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
}

main section ol{
    padding-top: 20px;
    padding-bottom: 40px;
}

section ol li{
    padding: 13px;
}

main >section{
    padding: 10px;;
    box-shadow: 2px 2px 5px white;

}

main section > h1,p,a,ol{
    
}


 main section{
    
}

main .sec1{
    height: 300px;
}



main > .sec4{
    margin-top: 10px;
    padding-bottom: 80px;
}

main >.sec1,.sec3{
    background-image: linear-gradient(to right,rgb(22, 72, 85), rgb(8, 140, 173));
    box-shadow: 2px 2px 2px var(--cor6);
    border: none;
}

.sec2, .sec4{
    background-color: #FDFDFE;
}

.sec1 > h1{
    font-weight: 560;  
     color: black;
}

.sec3 > h1{
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 1.8em;
    color: #011722;
}

.sec1 p{
    color: var(--cor1);
}


.sec3 p{
    color: var(--cor1);
}

.sec2 li{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 550;
    color: #041f2c;
    border: 1px solid #C1DCE9;
    border-radius: 15px 30px;
    margin-bottom: 5px;
}

.sec2 a{
    background-color: rgb(209, 209, 9);
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 50px;
    padding: 12px;
}
.sec2 a:hover{
    text-decoration: underline;
    background-color: rgb(172, 172, 5)
}
.sec2 a img{
    height: 14px; 
    padding-left: 2px; 
}

.sec1 p, .sec2 p, .sec4 p{
    padding-top: 20px;
    line-height: 1.5em;
    font-size: 1em;
  
}


h1{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: rgb(38, 141, 141);
    font-size: 1.5em;;
}


main section p{
    font-family: 'PT Sans', sans-serif;
    
}


.sec2 .imagem{
    text-align: center;
    padding: 15px;
    margin-left: 20px;
}
.sec2 .imagem img{
    max-width: 350px;
    height: 10%;
}

.sec2 {
    padding-bottom: 50px;
}

.sec2 li img{
    width: 20px;
    margin-right: 5px;
}






.sec4 .imagemm{
    text-align: center;
    padding: 15px;
    margin-left: 20px;
}
.sec4 .imagemm img{
    width: 100%;
    height: 10%;
}

article{
    margin-top: 30px;
    padding: 5px;
    width: 100%;
     
}

.art1, .art3{
    border: 2px solid #EFE51B;
    border-radius: 15px; 
}

.art2, .art4{
    border: 2px solid #0B75B1;
    border-radius: 20px;
}

.art5{
    
}

article p {
    padding: 5px;
    margin-left: 15px;
    margin-top: -24px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    
}

aside div{
    display: inline;
    margin-left: 20px;
}

aside div img{
    width: 150px;
    height: 150px;
    padding: 2px;
    
}


.sec1 p, .sec2 p, .sec4 p{
    
}

.sec1 h1, .sec2 h1, .sec4 h1{
    
}




@media screen and (min-width: 768px){ 
  
    body{
      background-color: rgb(235, 235, 235);
    }
    main{
      margin: auto;
      display: block;
      width: 80%;
      background-color: white;
    } 

    main p{
        max-width: 768px;
        margin: auto;
        display: block;    
    }

    

    aside div{
        margin-left: 40px;
    }

    .sec1 p, .sec2 p, .sec4 p{
        font-size: 1.4em;
    }

    .sec1 h1, .sec2 h1, .sec4 h1{
        font-size: 1.6em;
    }

   
   
}

/*Media Imagens*/
@media screen and (max-width: 360px) {
    aside div img{
        max-width: 140px;
        height: 140px;
        padding: 5px;
        
    }


}

@media screen and (min-width: 540px) and (max-width: 768px){
    aside div img{
            width: 200px;
            padding: 0px;
            
    }

}

@media screen and (min-width:768px) and (max-width:1024px){
    aside div img{
        width: 240px;
        padding: 0px;
        
    }

    .sec4 .imagemm img{
        max-width: 768px;   
    }
 aside div img{
        width: 250px;
    
        padding: 10px;
        margin: auto;
        text-align: center;
    }

    .art1, .art3, .art2, .art4{
        border: none;
        padding: 10px;
        margin: 0;
    }
    
    .art5{
        margin-top: -15px;
        padding: 10px;
    }
}

@media screen and (min-width: 1024px) {
    aside {
        margin-left: 90px;
    }
    
    aside div img{
        width:295px;
        height: 265px;
        padding: 10px;
       
    }

    .art1, .art3, .art2, .art4{
        border: none;
        padding: 10px;
        margin: 0;
    }
    
    .art5{
        margin-top: -15px;
        padding: 10px;
    }
}
/*Media Imagens*/


@media screen and (min-width: 992px) {
    main{
        margin: auto;
        display: block;
        width: 64%;
        background-color: white;
      }  
}















   
