@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
}

.bibliotecaa a{
    color: rgb(38, 141, 141);
    font-size: 0.95em;
    margin-left: -20px;
}
.bibliotecaa a:hover{
    text-decoration: underline;
}

article{
    padding: 20px;
}

h1{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(38, 141, 141); 
    padding-bottom: 10px;
}

h2{
    font-family: 'Roboto Slab', serif; 
    font-size: 1.2em; 
    padding-top: 15px;
    padding-bottom: 5px;
}

h3{
    font-family: 'Roboto Slab', serif; 
    font-size: 1.2em; 
    padding-top: 15px;
    padding-bottom: 5px;
}

.bibliotecaa > ul, ol{
    padding-bottom: 20px;
    line-height: 25px; 
    font-family: 'Domine', serif;
    font-size: 1.1em; 
}

.bibliotecaa p{
    padding: 14px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: justify;
}

.imgbiblioteca{
    width: 390px;
    height: 10%;
    text-align: center;
    display: block;
    margin: auto; 
}





