@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
}

.bibliotecaa a{
    color: rgb(38, 141, 141);
    font-size: 0.95em;
    margin-left: -20px;
}
.bibliotecaa a:hover{
    text-decoration: underline;
}

article{
    padding: 20px;
}

h1{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(38, 141, 141); 
    padding-bottom: 10px;
}

h2{
    font-family: 'Roboto Slab', serif; 
    font-size: 1.2em; 
    padding-top: 15px;
    padding-bottom: 5px;
}

h3{
    font-family: 'Roboto Slab', serif; 
    font-size: 1.2em; 
    padding-top: 15px;
    padding-bottom: 5px;
}

.bibliotecaa > ul, ol{
    padding-top: 10px;
    font-family: 'Domine', serif;
    font-size: 1.05em; 
    
}

.lii{
    margin-left: 10px;
}

.bibliotecaa li{
    padding-top: 10px;

}

.bibliotecaa p{
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: justify;
}

.imgbiblioteca{
    width: 100%;
    height: 10%;
   
}

main img{
    padding: 15px;
}

@media screen and (max-width: 678px){
   

    ol,ul{
     margin-left: 0px; 
     text-align: center;  
    }

    .lista1{

        
    }
}

/*Media Query*/

@media screen and (min-width: 768px) {
    body{
        background-color: rgb(235, 235, 235);
      }
      main{
        margin: auto;
        display: block;
        width: 68%;
        background-color: white;
        border: 1px solid rgba(65, 63, 63, 0.253);
        padding-bottom: 50px;
      }
  
      main h1{
        font-size: 1.8em;
        text-align: center;
      }

      main h2{
        font-size: 1.4em;
      }
  
      .bibliotecaa p{
        font-size: 1.3em;
      }

      main li{
        font-size: 1.27em;
      }

      main img{
        padding: 15px;
    }
  
     }
  



