@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root{
    --cor1:#FCFCFA;                --fonte-padrão: Arial, Helvetica, sans-serif;
    --cor2: rgb(8, 42, 51);        --fonte1: ; 
    --cor3: #F3F3BA;               --fonte2: ;
    --cor4: #C1DCE9;               --fonte3: ;
    --cor5: #0B75B1;
    --cor6: #3F636D;
    --cor7: #EFE51B;                 ;

}

*{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 15px;
    padding-bottom: 50px;
    
}

h1{
    color: rgb(38, 141, 141);
    font-family: 'Domine', serif;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 10px;
    
}

main p{
    font-family: 'PT Sans', sans-serif; 
    line-height: 1.5em;
    margin-left: 10px;
    padding: 10px;
}


main p{
    color: black;
}

main span{
    color: rgb(82, 81, 81);
}


.news p{
    text-align: justify;
}
.news img{
    width: 93%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}



.noticiass{
    width: 100%;
    padding: 5px;
    background-color: rgba(231, 231, 231, 0.315);
    border: 1px solid rgba(255, 255, 255, 0.89);
    margin-top: 20px;
    margin-bottom: 20px;
}

.noticiass a{
    display: inline-block;
    border-top: 1px solid rgba(148, 147, 147, 0.281);
}

.grande img{
    width: 100%;
    margin-left: -13px;
}

.grande > .motivo  p{
    margin-left: -20px;
    font-size: 1.4em;
}
.grande > .motivo  span{
    margin-left: -10px;
}

.motivo p{
    
}


.pequeno{
    padding-left: 50px;
    border-top: 1px solid rgba(148, 147, 147, 0.281);
    
    
}
.pequeno img{
    width: 50%;
    height: 135px;
    float: left;
    margin-left: -30px;
}

.pequeno .motivo{
    width: 55%;
    float: right;
    
}

.noticiass p{
    font-size: 1.12em;
}
.noticiass span{
    font-family: 'PT Sans', sans-serif;
    font-size: 0.92em; 
    
}

.grande span{
    margin-left: 20px; 
}

.pequeno p{
    margin-left: 0px;
}

.pequeno span{
    margin-left: 10px;
}

.noticiass p:hover{
    text-decoration: underline;
}