@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 15px;
    padding-bottom: 50px;
    
}

h1{
    color: rgb(38, 141, 141);
    font-family: 'Domine', serif;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 10px;
    
}

h2{
    color: rgb(38, 141, 141);
    font-family: 'Domine', serif;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 10px;
    
}

main p{
    font-family: 'PT Sans', sans-serif; 
    line-height: 1.3em;
    margin-left: 10px;
    padding: 10px;
    font-size: 1.1em;
}


main p{
    color: black;
}

main span{
    color: rgb(82, 81, 81);
    font-family: 'PT Sans', sans-serif; 
}


.news p{
    text-align: justify;
}
.news img{
    width: 93%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}



.noticiass{
    width: 100%;
    padding: 5px;
    background-color: rgba(231, 231, 231, 0.315);
    border: 1px solid rgba(255, 255, 255, 0.89);
    margin-top: 20px;
    margin-bottom: 20px;
}

.noticiass a{
    display: inline-block;
    border-top: 1px solid rgba(148, 147, 147, 0.281);

}


.grande img{
    width: 100%;
    margin-left: -13px;
}

.grande > .motivo  h2{
    margin-left: -20px;
    font-size: 1.2em;
}
.grande > .motivo  span{
    margin-left: -10px;
}


.motivo p{
    
}


.pequeno{
    padding-left: 50px;
    border-top: 1px solid rgba(148, 147, 147, 0.281);
    
    
}
.pequeno img{
    width: 50%;
    height: 140px;
    float: left;
    margin-left: -30px;
    margin-top: 14px;
}

.pequeno .motivo{
    width: 55%;
    float: right;
    
}

.noticiass p{
    font-size: 1.12em;
}
.noticiass span{
    font-family: 'PT Sans', sans-serif;
    font-size: 0.92em; 
    
}

.grande span{
    margin-left: 20px; 
}

.pequeno p{
    margin-left: 0px;
}

.pequeno span{
    margin-left: 10px;
}

.noticiass h2:hover{
    text-decoration: underline;
}

#grande1{
    margin-bottom: 25px; 
}
#grande2{
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    
    body{
            background-color: rgb(235, 235, 235);
         }
    main{
        margin: auto;
        display: block;
        width: 80%;
        background-color: white;
        border: 1px solid rgba(65, 63, 63, 0.253);       
    }

    h1{
        font-size: 1.5em;
    }

    #grande1{
        margin-bottom: 25px; 
    }
    #grande2{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .grande img{
       width: 90%;
       height: 350px;
    }
   

    .pequeno img{
        width: 47%;
        height: 230px;
        
    }
    .pequeno .assunto{
        font-size: 1.2em;
    }
    .pequeno span{
        font-size: 0.95em
    }

    .news p{
       font-size: 1.4em;
    }

    .news img{
        width: 95%;
        height: 460px; 
    }


}

@media screen and (min-width: 992px) {
    body{
        background-color: rgb(235, 235, 235);
      }
      main{
        margin: auto;
        display: block;
        width: 65%;
        background-color: white;
        border: 1px solid rgba(65, 63, 63, 0.253);
        
      }

      .grande img{
        width: 85%;
        height: 460px;
    }
   

    .pequeno img{
        width: 400px;
        height: 242px;
        float: left;
        margin-left: -30px;
    }

    .pequeno .motivo{
        width: 440px;
        float: right;
        
    }

  
     }