@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');




*{
    margin: 0;
    padding: 0;
}

main
{
    background-color: white;
}

h1{
    padding: 20px;
    padding-bottom: 20px;
    font-family: 'Domine', serif;
    color: rgb(38, 141, 141); 
}

main p{
    padding: 15px;
    line-height: 1.4em;
    margin-left: 20px;
    font-family: 'PT Sans', sans-serif;
    
}


.secc2{
    width: 90%;
    border: 1px solid rgb(2, 26, 43);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;
}

.radio{
    text-align: center;
}

audio{
    margin-top: 15px;
    width: 80%;
}

audio::-webkit-media-controls-panel{
    background-color: rgb(214, 215, 216);

}



.banner-card{
    position: relative;
    text-align: center;
    align-items: center;
    border-radius: 40px;
    margin-bottom: 30px;
    width: 95%;
    height: 340px;
    margin: auto;
    margin-bottom: 30px;
}

.banner-card img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.banner-text{
   position: absolute;
   padding: 10px;
   opacity: 0.6;
   background-color: rgba(15, 15, 15, 0.815);
   overflow: hidden;
   border-radius: 30px;
   width: 100%;
   height: 340px;
   top: 0;

}

.radioo h1{
    color: white;
    font-size: 1.4em;
    font-family: 'Domine', serif;
    
}


 .banner-card p{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 150px;
 }

 .radioo{
    display: inline;
 }
 .radioo span{
    font-size: 50px;
    font-weight: lighter;
    color: rgb(236, 236, 42);
    float: left;
    transform: translateX(20px);
}













/*
.wrapper{
    width: 100%;
    height: 100%;   
    
}

.image{
    text-align: center;
    position: relative;
    border-radius: 30px;
}

img{
    width: 400px;
    border-radius: 30px;
}

.content{
    width: 400px;
    height: 100%;
    transform: translateX(40px);
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(15, 15, 15, 0.815);
    display: block;
    opacity: 0.7;
    border-radius: 30px;
}


.content span{
    font-size: 50px;
    font-weight: lighter;
    color: rgb(236, 236, 42);
    margin-bottom: 15px;
    margin-left: -300px;
}
.content h1{
    color: white;
    margin-top: -80px;
    font-size: 1.4em;
}
.content p{
    color: white;
    margin-top: 120px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
}

.content > *{
    transform: translateY(25px);
    
}

.radioo{
    margin-top: -10px;
}



lign-items flex-end
background-blend-mode soft-light
background-color rgba(0, 0, 0, 0.32)
background-image url(https://www.sepe.gov.ao/fotos/frontend_1/destaques/group-2-1_27735ef09430db525.png)
background-size cover
border-bottom-left-radius 20px
border-bottom-right-radius 20px
border-top-left-radius 20px
border-top-right-radius 20px
box-sizing border-box
color rgb(136, 136, 136)
cursor pointer
display grid
font-family sofia-pro, sans-serif
font-size 16px
font-weight 400
height 445px
line-height 24px
margin-bottom 30px
min-height 445px
outline-color rgb(136, 136, 136)
outline-style none
outline-width 0px
padding-bottom 30px
padding-left 30px
padding-right 30px
padding-top 30px
text-align left
text-decoration-color rgb(136, 136, 136)
text-decoration-line none
text-decoration-style solid
text-decoration-thickness auto
text-size-adjust 100%
width 690px
-webkit-tap-highlight-color rgba(0, 0, 0, 0)