@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

main
{
    background-color: white;
}

h1{
    padding: 20px;
    padding-bottom: 20px;
}

main p{
    padding: 15px;
    line-height: 1.4em;
    margin-left: 20px;
}


.secc2{
    width: 90%;
    border: 1px solid rgb(2, 26, 43);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;
}

.radio{
    text-align: center;
}

audio{
    margin-top: 15px;
    width: 80%;
}

audio::-webkit-media-controls-panel{
    background-color: rgb(214, 215, 216);

}














.wrapper{
    width: 100%;
    height: 100%;   
    
}

.image{
    text-align: center;
    position: relative;
    border-radius: 30px;
}

img{
    width: 400px;
    border-radius: 30px;
}

.content{
    width: 400px;
    height: 100%;
    transform: translateX(40px);
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(15, 15, 15, 0.815);
    display: block;
    opacity: 0.7;
    border-radius: 30px;
}


.content span{
    font-size: 50px;
    font-weight: lighter;
    color: rgb(236, 236, 42);
    margin-bottom: 15px;
    margin-left: -300px;
}
.content h1{
    color: white;
    margin-top: -80px;
}
.content p{
    color: white;
    margin-top: 110px;
}

.content > *{
    transform: translateY(25px);
    
}

.radioo{
    margin-top: -10px;
}



