@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

main
{
    background-color: white;
}

h1{
    padding: 20px;
    padding-bottom: 20px;
}

main p{
    padding: 15px;
    line-height: 1.4em;
    margin-left: 20px;
}


.secc2{
    width: 90%;
    border: 1px solid rgb(2, 26, 43);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;
}

.radio{
    text-align: center;
}

audio{
    margin-top: 15px;
    width: 80%;
}

audio::-webkit-media-controls-panel{
    background-color: rgba(127, 131, 136, 0.61);

}



